*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

#contact_modal,
#lightbox_modal {
  display: none;
}

.photograph-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photograph-info__name {
  margin: 0;
  color: #D3573C;
  font-weight: 400;
  font-size: 3em;
}
.photograph-info__address {
  color: #901C1C;
  font-weight: 400;
  font-size: 1.75em;
}
.photograph-info__tagline {
  color: #525252;
  font-weight: 400;
  font-size: 1.1em;
  margin-top: 0.5em;
}
@media (max-width: 950px) {
  .photograph-info {
    align-items: center;
  }
  .photograph-info__name {
    margin: 0;
    text-align: center;
  }
  .photograph-info__address {
    text-align: center;
  }
  .photograph-info__tagline {
    text-align: center;
  }
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
}
.photograph-header .container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100em;
  justify-self: flex-end;
  align-self: center;
}
.photograph-header .container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 950px) {
  .photograph-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }
  .photograph-header .container {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: center;
  }
}

.contact_button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  transition: background-color 250ms;
}
.contact_button:hover, .contact_button:focus-visible {
  background-color: #dc7b66;
  color: black;
}

.filter {
  margin: 0 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2em 0;
}
.filter label {
  font-weight: 700;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 160px;
}
.dropdown select {
  width: 160px;
  height: 60px;
  border-radius: 5px;
  background-color: #901C1C;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  padding: 0 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 100px;
  padding-bottom: 40px;
}
.gallery article {
  transition: transform 0.2s ease;
}
.gallery article:hover, .gallery article:focus {
  transform: scale(1.05);
}
.gallery article figure a {
  display: flex;
}
.gallery article figure a img,
.gallery article figure a video {
  border-radius: 5px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.gallery article figcaption {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 0 0 5px 5px;
  color: #901C1C;
  max-width: 400px;
}
.gallery article figcaption h4 {
  font-size: 24px;
  font-weight: 400;
  max-width: 75%;
  text-overflow: ellipsis;
}
.gallery article figcaption div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}
.gallery article figcaption div button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}
.gallery article figcaption div span {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
}

#like_counter {
  place-items: center;
  position: fixed;
  z-index: 1;
  right: 4em;
  bottom: 0;
  padding: 0.75em 3em;
  border-radius: 5px 5px 0 0;
  overflow: auto;
  background-color: #dc7b66;
}
#like_counter ul {
  gap: 2em;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#like_counter__number {
  font-size: 24px;
  font-weight: medium;
}
#like_counter__price {
  font-size: 24px;
  font-weight: medium;
}

#contact_modal {
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
}

.modal {
  background: #dc7b66;
  border-radius: 5px;
  padding: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.modal header {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: flex-start;
}
.modal header h2 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
}
.modal header .contact_close {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal form div label {
  color: #312e2e;
  font-size: 24px;
}
.modal form div input,
.modal form div textarea {
  font-family: "DM Sans", sans-serif;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
}
.modal form div input {
  height: 50px;
}
.modal form div textarea {
  height: 100px;
  resize: none;
}
.modal form button {
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
}

#lightbox_modal {
  place-items: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
#lightbox_modal .lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
#lightbox_modal .lightbox header {
  flex-direction: row-reverse;
  margin: 0 0 -4.8em 0;
}
#lightbox_modal .lightbox header .lightbox_close {
  top: 1em;
  position: absolute;
  right: 1em;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  font-size: 42px;
  font-weight: 700;
  color: #901C1C;
  cursor: pointer;
}
#lightbox_modal .lightbox #lightboxContent {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow: hidden;
}
#lightbox_modal .lightbox #lightboxContent .lightbox-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#lightbox_modal .lightbox #lightboxContent #lightboxTitle {
  font-size: 32px;
  font-weight: normal;
  text-align: left;
  color: #901C1C;
}
#lightbox_modal .arrow {
  position: absolute;
  top: 50%;
  font-size: 42px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #901C1C;
}
#lightbox_modal .fa-chevron-left {
  left: 1em;
}
#lightbox_modal .fa-chevron-right {
  right: 1em;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

button {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
}
.logo__img {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 250ms;
}
.photographer_section article:hover {
  transform: scale(1.05);
}
.photographer_section article a {
  margin-top: 1em;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 2em;
  text-align: center;
}
.photographer_section article h3 {
  color: #D3573C;
  font-size: 1em;
}
.photographer_section article .tagline {
  color: #000;
  font-size: 0.8em;
}
.photographer_section article .price {
  color: #505050;
  font-size: 0.8em;
}
.photographer_section article .container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}
.photographer_section article .container__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transform: scale(1.25);
}

/*# sourceMappingURL=style.css.map */
