@import "_reset";
@import "photographer";

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

button {
    font-family: 'DM Sans', sans-serif;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: $col-primary;
    margin-right: 100px;
}

.logo {
    margin-top: 20px;
    margin-left: 100px;

    &__img {
        height: 50px;
    }
}


.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;

    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 250ms;

        &:hover {
            transform: scale(1.05);
        }


        a {
            margin-top: 1em;
        }

        h2 {
            color: $col-secondary;
            font-size: 2em;
            text-align: center;
        }

        h3 {
            color: $col-secondary;
            font-size: 1em;
        }

        .tagline {
            color: #000;
            font-size: 0.8em;
        }

        .price {
            color: #505050;
            font-size: 0.8em;
        }

        .container {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            overflow: hidden;
            margin: auto;

            &__img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                transform: scale(1.25);
            }

        }
    }
}